body {
	/*font-weight : bold !important;*/
	font-family : Calibri, Verdana, Ariel, sans-serif !important;
	font-size : 8pt !important;
	text-align : left !important;
	background: url(../../images/bg.png) repeat;
}

div {
	 border : 0px solid red;
}

table.directions th {
	background-color:#eeeeee;
      }

table.directions td {
	background-color:#fff;
	vertical-align:top;
      }

.bubble {
	width: 477px;
	background: url('../images/commentBg.png') no-repeat;
	background-position: 100% 100%;
}
.bubbleHeader {
	height: 20px;
	background: url('../images/commentBg.png') no-repeat;
	background-position: 100% 0;
}
.bubbleInner {
	padding: 0 20px 10px 37px;
}

.menubgcolor {
	background-color: #3F7CD9;
	color : #ffffff;
	text-align : center;
	font-weight : bold;
	font-family : Calibri, Verdana, Ariel, sans-serif;
	font-size : 10pt;
}

.imgclass {
	border: 1px solid red;
	background-image: url('../images/logo.jpg');
}

hr {
	size:2px;
}

.headerdiv {
	height : 110px;
	vertical-align: middle;
	background-color:#FFF;
 
}

#logodiv {
	text-align : left;
	border:0px solid red;
	/*background:url(../../images/logo.jpg) no-repeat;*/
	height:90px;
	width:244px;
}

.logotext {
	font-family : Calibri, Verdana, Ariel, sans-serif;
	font-size : 8pt;
	color : red;
	display : block;
	font-weight : bold;
}

.searchbox {
	border: 2px solid #EBEBEB !important;
	font-family : Calibri, Verdana, Ariel, sans-serif;
	width : 150px;
	color : #3F7CD9;
	background-color :  ;
	font-weight : bold;
	font-size : 10pt;
	padding-left : 15px;
	background:#FBFBFB url(../images/searchicon.jpg) no-repeat left!important;

	/*border: 0px solid #EBEBEB;
	
	font-family : Calibri, Verdana, Ariel, sans-serif;
	*/
	/*padding : 5px;*/
	/*height : 22px;*/
}

#twitter_box { 
	height: 120px; 
	width : 235px;
}



div.inner { 
	color: #000; 
	text-align: center; 
	font-family: verdana, arial, sans-serif;
}

div.inner { margin: 0; background: #fff; padding: 10px; border:0; zoom:1;}
div.outer { float: left; margin: 0px; background: #3f7bd9; padding: 8px; }


.heading_trial {
	color : #3f7bd9;
	font-size : 16pt;
	font-family : Calibri, Verdana, Ariel, sans-serif;
	text-align:center;
	font-weight:bold;
}

.trial_form {
	text-align:center;
}

.txtclass {
/*	width:157px;
	height:21px;
	font-size : 12pt;
	font-family : Calibri, Verdana, Ariel, sans-serif;
	color:black;
	font-weight : bold;
	font-style : italic;
	border : 2px solid #3f7bd9 !important;
	padding-left : 10px;*/
	margin-left:102px!important;
	height:12px;
	width:100px;
	font-size:12px;
	
	font-family : Calibri, Verdana, Ariel, sans-serif;
	color:black;
	font-weight : bold;
	font-style : italic;
	background : #ffffff!important;
	border : 0px solid #3f7bd9 !important;
	padding-left : 10px;
}

.txtclassFirstName {
	margin-top:62px !important;
}

.txtclassLastName {
	margin-top:11px !important;
}

.txtclassEmail {
	margin-top:12px !important;
}

.txtclassPhone {
	margin-top:14px !important;
	width:60px !important;
}

#agechk {
	font-family : Calibri, Verdana, Ariel, sans-serif;
	font-size : 7pt;
	color: black;
	font-weight : bold;
}

.chkCommon {
	margin-left:104px !important;
	margin-top:10px;
}

.chkcommon1 {
	margin-top:0px !important;
}

#checkfitness {
	border: 1px solid #7A7979;
	width : 220px;
	height : 120px;
}

#btnSubmit {
	background-color: transparent;
	border:none;
	width:20px !important;
	margin-top:5px;
	color:white !important;
	font-family : Calibri, Verdana, Ariel, sans-serif !important;
	font-weight : bold !important;
	margin-left : 171px !important;
}

button, input[type="reset"], input[type="button"], input[type="submit"] {
	background-color:#3f7bd9 ;
	color:white ;
	font-family : Calibri, Verdana, Ariel, sans-serif !important;
	font-weight : bold ;
}

#imageforfitness {
	float:left;
	background-image: url('../images/trail.jpg');
	height:109px; 
	width:76px;
	left:10px;
	margin-left:10px;
	margin-top:6px;
}

#checkfitnessspan {
	font-family : Calibri, Verdana, Ariel, sans-serif;
	font-size : 18px !important;
	text-align : center;
	width : 100px;
	height : 100px;
	margin-left : 80px;
	margin-top : 30px;
}

#gettrialcoupon {
	/*background : #fff;*/
	/*border:1px solid red; height:200px !important;*/
	/*background-color: #6af;
	padding: 10px;*/
	width:246px;
	height: 230px;
}
#checkyourfitness {
	width:246px;
	height: 86px;
}

#slider {
  width: 620px;
  margin: 0 auto;
  position: relative;
}

.scroll {
  height: 250px;
  overflow: auto;
  position: relative; /* fix for IE to respect overflow */
  clear: left;
  background: #FFFFFF url(../images/content_pane-gradient.gif) repeat-x scroll left bottom;
}

.scrollContainer div.panel {
  padding: 20px;
  height: 210px;
  width: 580px; /* change to 560px if not using JS to remove rh.scroll */
}

#shade {
    background: #EDEDEC url(../images/shade.jpg) no-repeat 0 0;
    height: 50px;
}


ul.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-bottom: 9px;
}

ul.navigation li {
    display: inline;
    margin-right: 10px;
}

ul.navigation a {
    padding: 10px;
    color: #000;
    text-decoration: none;
}

ul.navigation a:hover {
    background-color: #f6f6f6;
}

ul.navigation a.selected {
    background-color: #fff;
}

ul.navigation a:focus {
    outline: none;
}

.ui-tabs .ui-tabs-nav {
margin:0;
padding:0.2em 0.2em 0;
}

.ui-widget-header {
	background:#fff url('') no-repeat right top !important;
	border : 0px solid red !important;
	padding : 0px !important;
}

.ui-widget-content {
	background:#fff url('') no-repeat right top !important;
	border : 0px solid red !important;
	padding : 0px !important;
}

.ui-tabs {
	border : 0px solid red !important;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected {
	padding : 0px !important;
}

.ui-state-default {
	border : 0px solid red !important;
	background-color: #3F7CD9 !important;
	color : #ffffff !important;
}

.ui-tabs-selected .ui-state-active {
	background:#fff url('') no-repeat right top !important;
	color : red !important;
}

.ui-state-default a, .ui-state-default a:link, .ui-state-default a:visited {
	color : #fff !important;
}

.ui-state-active a, .ui-state-active a:link, .ui-state-active a:visited {
	color : red !important;
	background : url("") repeat-x scroll 50% 50% #fff !important;
	border-bottom : 0px none !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
	background : url("") repeat-x scroll 50% 50% #3F7CD9 !important;
	color:white !important;
}

.ui-state-hover a, .ui-state-hover a:hover{
	color : red !important;
	background : url("") repeat-x scroll 50% 50% #3F7CD9 !important;
	border-bottom : 0px none !important;
	-moz-border-radius-topleft : 4px;
	-moz-border-radius-topright : 4px;
}

.ui-tabs-selected a:hover {
	background : url("") repeat-x scroll 50% 50% #fff !important;
}

.tabs-detail {
	border : 0px solid #3F7CD9 !important;
	height : 370px !important;
	font-size : 10pt !important;
	padding : 10px !important;
}



#footerdiv {
	background-color:#3F7CD9;
	height : 90px;
	font-family : Calibri, Verdana, Ariel, sans-serif;
	font-size : 10pt;
	color : white;
	font-weight : normal;
	width:938px;
	margin-right:14px;	
}

#middlecontent {
	height : 1020px;
}

#footerdivbottom {
	text-align:center;
	color : #3F7CD9;
	font-size : 10pt;
	font-family : Calibri, Verdana, Ariel, sans-serif;
	font-weight : bold;
	background-color:white;
}

#topmostgap, #innertabgap {
	height : 10px;
	background-color:white;
}

#topmenugap, #innertabtwittergap {
	height : 5px;
	background-color:white;
}

#submenugap {
	height : 27px;
	background-color:white;
}

#mygallarygap {
	height : 10px;
	background-color:white;
}

.container {
	/*background-color:white !important;*/
}

#page-wrap          {  margin: 0 auto;  }
#page-wrap div      {  margin: 0 auto; padding: 0px 0 0 0; height:950px; overflow:auto; }

#page-wrap div a					              { text-decoration: none; color: #eee; display: block; padding: 4px 0;}
#page-wrap div a:hover             { text-decoration: underline; }

#page-wrap div ul                  { padding: 8px 25px; list-style: none;
                      -webkit-box-shadow: 2px 2px 5px black;
                      background: #282828; } 
#page-wrap div ul ul               { background: #393939; }
#page-wrap div ul ul ul			         { background: #4b4b4b; }
#page-wrap div ul ul ul ul			      { background: #5a5a5a; }

ul.menu {
            margin: 0;
            padding: 0;
            float: left;
            list-style: none;
            height: 23px;
            border-bottom: 0px solid #999;
            border-left: 0px solid #999;
            width: 100%;
        }
        ul.menu li {
            float: left;
            margin-right: 2px;
            padding: 0px;
            height: 23px;
            line-height: 23px;
            border: 0px solid #999;
            border-left: none;
            margin-bottom: 0px;
            background: #3F7CD9;
            overflow: hidden;
            position: relative;
            vertical-align:middle;
        }
        ul.menu li a {
            text-decoration: none;
            color: #fff;
            display: block;
            font-size: 1.2em;
            padding: 0 10px;
            margin-bottom : 0px;
            border: 0px solid #fff;
            outline: none;
        }
        ul.menu li a:hover {
            background: #3F7CD9;
            color : red;
        }
        ul.menu li a:selected {
            color : red;
        }
        html ul.menu li.active {
            background: #F7F7F7;
            color : red;
        }
        html ul.menu li.active a {
            background: #f7f7f7;
            color : red;
        }
        html ul.menu li.active a:hover {
            background: #f7f7f7;
            color : red;
        }	
		
		#righttop {
			background:url(../../images/tc.png) no-repeat;
			height:255px;
		}
		
		#wrapperright {
			border:0px solid red;
			height:382px;
			width:267px;
			clear:right;
		}
		#myGallery {
			border:1px solid red;
		}
		
		
		/****Com_Services*****/
				
		.panel{
			width:467px;
		}
		
		.panel-new{
			width:460px;
		}
		
		.panel h4.title, .panel-new  h4.title{
        /*color : #3F7CD9;*/
        color : #3F7CD9;
        font-size : 22px;
        border : 0px solid black;
        margin-top : 1px;
        margin-bottom : 8px;
        letter-spacing: 1px;
		font-weight:bold;
    }

    .panel h3.title, .panel-new h3.title {
        color : black;
        font-size : 18px;
        border : 0px solid black;
        margin-top : 1px;
        margin-bottom : 5px;
        letter-spacing: 1px;
		font-weight:bold;
    }
	.panel1 h3.title {
        color : black;
        font-size : 18px;
        border : 0px solid black;
        margin-top : 1px;
        margin-bottom : 5px;
        letter-spacing: 1px;
		font-weight:bold;
    }

    .panel1 p {
        color : black;
        font-size : 14px;
        border : 0px solid black;
        margin-top : 1px;
        margin-bottom : 5px;
        letter-spacing: 1px;
        word-spacing: 4px;
    }
	
	.panel p, .panel-new p {
        color : black;
        font-size : 14px;
        border : 0px solid black;
        margin-top : 1px;
        margin-bottom : 5px;
        letter-spacing: 1px;
        word-spacing: 4px;
    }
	#middlecontent{
		height:auto;
	}
	
	/*com_contacts*/
	
	.adminform{
		/*border:2px solid #333;*/
	}
	legend{
		
		color:#33C;
		font-size:24px;
		margin-bottom:20px;
		margin-left:160px;
	}
	
	.alignment{
		color:balck;
		text-align:right;
		font-family:Arial, Helvetica, sans-serif;
		font-size:14px;
		margin-top:10px;
			
	}
	input[type="text"]{
		width:350px;
		height:30px;
		margin-top:0px;
		
	}
	
	input[type="submit"]{
		text-align:center;
		font-size:14px;
		margin-top:10px;
			
	}
	#source{
		width:100px;
		height:20px;
		vertical-align:middle;
		border:2px solid #BBBBBB;
	}